button.btn{
  width: 2.7rem;
  height: 2.7rem;
  
  color: white;
  font-size: 2rem;
  
  border: none;
  border-radius: 0.5rem;

  transition: ease-in-out 0.2s;
}

button.btn:hover {
    cursor: pointer;
    transform: scale(1.03);
}